<!-- takes whats input into forms and outputs here. instance variables and post are set in the app.rb js functions in script.js  -->
<!-- don't acutally need it though because it should just load this stuff -->
<!-- <% if @name && @age %>
  <h1>I am <%= @name %> and <%= @age %> years old.</h1>
<% end %> -->

<h1>Person Info</h1>
<ul>
  <li>Name: <%= @name %></li>
  <li>Age: <%= @age %></li>
  <li>Lang: <%= @language %></li>
  <li>Bio: <%= @bio %></li>
</ul>

<p>
  <a href="/">&laquo; Back to home</a>
</p>
